{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="/static/images/ifill.png">
  <title>iFill - Automate the boring</title>
  <meta name="description" content="iFill: Automate the your water motor system">
  <meta name="keywords" content="iFill: Automate the your water motor system">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'css/aquamarine.css' %}">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="/static/js/navbar-ontop.js"></script>
  <!-- Script: Animated entrance -->
  <script src="/static/js/animate-in.js"></script>
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container"> <a class="navbar-brand" href="#" style="color: blue;">iFill<br></a> <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mx-2"> <a class="nav-link" href="#features">Features</a> </li>
          {% if not user.is_authenticated %}
          <li class="nav-item mx-2"> <a class="nav-link" href="{% url 'account_login' %}" style="color: blue;">Login</a> </li>
          <li class="nav-item mx-2"> <a class="nav-link" href="{% url 'account_signup' %}" style="color: blue;">Register<br></a> </li>
          {% else %}
		    <li class="nav-item mx-2"><a href="{% url 'account_logout' %}" style="color: blue;">Logout</a></li>
		{% endif %}
        </ul> <a class="btn navbar-btn text-white mx-2 btn-primary" href="#download">Get iFill</a><a class="btn navbar-btn text-white mx-2 btn-primary" href="#download">Download</a>
      </div>
    </div>
  </nav>

    <div class="container">
    {% if messages %}
        <ul class="list-group">
            {% for message in messages %}
                <li{% if message.tags %}
                    class="list-group-item list-group-item-{{message.tags}}"{% endif %}>{{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block body %}{% endblock %}
    </div>
    <script src="{% static 'js/jquery-2.2.4.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/material.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/perfect-scrollbar.jquery.min.js' %}" type="text/javascript"></script>
<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<!-- Library for adding dinamically elements -->
<script src="{% static 'js/arrive.min.js' %}" type="text/javascript"></script>
<!-- Forms Validations Plugin -->
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="{% static 'js/moment.min.js' %}"></script>
<!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
<script src="{% static 'js/chartist.min.js' %}"></script>
<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src="{% static 'js/jquery.bootstrap-wizard.js' %}"></script>
<!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
<script src="{% static 'js/bootstrap-notify.js' %}"></script>
<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="{% static 'js/jquery-jvectormap.js' %}"></script>
<!-- Sliders Plugin, full documentation here: https://refreshless.com/nouislider/ -->
<script src="{% static 'js/nouislider.min.js' %}"></script>
<!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{% static 'js/jquery.select-bootstrap.js' %}"></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
<script src="{% static 'js/jquery.datatables.js' %}"></script>
<!-- Sweet Alert 2 plugin, full documentation here: https://limonte.github.io/sweetalert2/ -->
<script src="{% static 'js/sweetalert2.js' %}"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>
<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
<!-- Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="{% static 'js/jquery.tagsinput.js' %}"></script>
<!-- Material Dashboard javascript methods -->
<script src="{% static 'js/material-dashboard.js' %}"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'js/demo.js' %}"></script>
</body>
</html>