<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Dashboard</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style>
    body{
      background: url('{% static 'img/Bubble-7.5s-359x200px.svg' %}');
    }
    .card{
      padding:1em;
    }

    .pricingdiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

.pricingdiv ul.theplan{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
  background: #7c3ac9;
  position: relative;
  width: 250px; /* width of each table */
  margin-right: 10px; /* spacing between tables */
  margin-bottom: 1em;
  transition: all .5s;
}

.pricingdiv ul.theplan:hover{ /* when mouse hover over pricing table */
  transform: scale(1.05);
  transition: all .5s;
  z-index: 100;
  box-shadow: 0 0 10px gray;
}

.pricingdiv ul.theplan li{
  margin: 10px 20px;
  position: relative;
}

.pricingdiv ul.theplan li.title{
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  border-bottom: 5px solid white;
}

.pricingdiv ul.theplan:nth-of-type(2){
  background: #e53499;
}
    
.pricingdiv ul.theplan:nth-of-type(3){
  background: #2a2cc8;
}

.pricingdiv ul.theplan:last-of-type{ /* remove right margin in very last table */
  margin-right: 0;
}

/*very last LI within each pricing UL */
.pricingdiv ul.theplan li:last-of-type{
  text-align: center;
  margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}  

.pricingdiv a.pricebutton{
  background: white;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  color: navy;
  text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
  .pricingdiv ul.theplan{
    border-radius: 0;
    width: 100%;
    margin-right: 0;
  }
  
  .pricingdiv ul.theplan:hover{
    transform: none;
    box-shadow: none;
  }
  
  .pricingdiv a.pricebutton{
    display: block;
  }
}
  </style>
</head>
<body>
  <!-- navbar -->
    <div class="navbar-fixed">
    <nav class="transparent z-depth-2" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo blue-text" href="{% url 'index' %}">iFill</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#buynow" class="tooltipped" data-tooltip="Buy Now"><i class="material-icons blue-text">shopping_cart</i></a></li>
          <li><a href="{% url 'appprofile:profile' %}" class="tooltipped" data-tooltip="Dashboard"><i class="material-icons blue-text">account_box</i></a></li>
          <li><a href="{% url 'account_logout' %}" class="tooltipped" data-tooltip="Log Out"><i class="material-icons blue-text">power_settings_new</i></a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#"><i class="material-icons blue-text">shopping_cart</i>Buy Now</a></li>
          <li><a href="{% url 'appprofile:profile' %}"><i class="material-icons blue-text">account_box</i>Dashboard</a></li>
          <li><a href="{% url 'account_logout' %}"><i class="material-icons blue-text">power_settings_new</i>Logout</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  <!-- nav ends -->
 {% block body %}
 {% load staticfiles %}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Welcome {{user.username}}!</h1>
        <div class="row center">
          <h5 class="header col s12 light">iFill - Fill automation in your hand</h5>
        </div>
        <div class="row center">
          <a href="#Registered_Devices" id="Devices-button" class="btn-large waves-effect waves-light teal lighten-1">Registered Devices</a>
          <a href="#bill" id="Devices-button" class="btn-large waves-effect waves-light teal lighten-1">Check Monthly Usage</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/background1.jpg' %} " alt="Unsplashed background img 1"></div>
  </div>
<!-- registered devices -->
<div class="container" id="Registered_Devices">
  <div class="section"><br>
    <h3 class="header center teal-text text-lighten-2">Registered Devices</h3><br>
    <div class="row">
      {% if registered %}
        {% for r in registered %}
        <div class="col s12 l6">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'img/iFill.png' %}" alt="iFill">
                  </div>
                <div class="card-container">
                  <span class="card-title"><b>{{r.device.name}}</b></span>
                  <blockquote>Control and see status of your device</blockquote>
                </div>  
                <div class="card_action">
                  <ul class="collapsible">
                    <li>
                      <div class="collapsible-header"><i class="material-icons">alarm</i> Schedules<a align="right"><i class="material-icons">add</i></a></div> 
                      <div class="collapsible-body">
                        {% for s in schedules %}
                          {% if s.device == r.device %}
                          <br>
                            <span>Start : {{s.start}}</span>
                            <span>End : {{s.end}}</span>
                            <span>Day : {{s.get_day_display}}</span>
                            <span><a href="{% url 'appprofile:customise' s.id %}"> <i class="material-icons left">settings</i> Customise</a></span>
                            <span><a href="{% url 'appprofile:delete_schedule' s.id%}" onclick="deleted()"><i class="material-icons left">delete</i></a></span>
                          {% endif %}
                        {% endfor %}
                        <h5>Add Schedule</h5>
                        <form onsubmit="addschedule(this)" id="{{r.device.serial_id}}" value="{{r.id}}">
                        {% for field in form %}
                {% if field.label == 'Start' %}
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        {{field.label}}
                        <input type="time" id="id_start{{r.id}}" >
                    </div>
                    {% endif %}
                    {% if field.label == 'End' %}
                    <div class="md-form mb-5">
                        {{field.label}}
                        <input type="time" id="id_end{{r.id}}">
                    </div>
                    {% endif %}
                    {% if field.label == 'Day' %}
                        {{field.label}}
                        <select name="day" id="id_day{{r.id}}">
                          <option value="0" selected>Sunday</option>
                          <option value="1">Monday</option>
                          <option value="2">Tuesday</option>
                          <option value="3">Wednesday</option>
                          <option value="4">Thursday</option>
                          <option value="5">Friday</option>
                          <option value="6">Saturday</option>
                        </select>
                    {% endif %}
                    {% endfor %}
                  </div>  
                  <button onsubmit="addschedule(this)" id="{{r.device.serial_id}}" value="{{r.id}}" class="btn btn-default" ><i class="material-icons">add</i></button> 
                  </form>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
        </div>
        {% endfor %}
      {% else %}
        <p>No devices registered till date.</p>
      {% endif %}
    </div>
  </div>
</div>
<!-- end of registerd devices -->
<div class="row" id="bill">
    <div class="col s6 m3"></div>
    <div class="col s12 m12" align="center">
    <h2 class="header">Cost Analysis</h2>
    <div class="col s12 m6"></div>
    <div class="col s12 m6"></div>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>Total used time for the device</p>
          <h4>{{time}}</h4>
          <p>Total estimited price</p>
          <h4>{{price}} ₹</h4>
        </div>
      </div>
    </div>
    <div class=""></div>
    </div>
  </div>  
  </div>
<!-- promotion -->
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <h3 class="header center teal-text text-lighten-2">Why to automate motor?</h3>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Reduced Electricity Bill</h5>

            <p class="light">Since the motor is run only as and when required the consumption of electricity is minimal and also the motor remains safe in the process.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Zero! Man-Power Requirements</h5>

            <p class="light">You can be anywhere , no need to be physically present at the spot to turn on/off the switch to run the motor.This will save your valuable time and is beneficial for everyone. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Prevents Dry-Run of Motor</h5>

            <p class="light">Are you unhappy with the current working system of water management systems in ypur locality? Then come and join hands with us and we will provide you with the best methods to utilise the resources.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
<!-- end of promotion -->

  <!-- <!-- <!-- <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 teal-text text-lighten-5">!Don't forget to notice electricity consumed by motor</h4>
          <h5 class="teal-text text-lighten-5">As we promised of lowest electricity bill:)</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/background2.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>
<!-- buy now 
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h3 class="header center teal-text text-lighten-2">Buy Device Now</h3>
        </div>
      </div>
      <div class="pricingdiv" id="buynow">
        {% if device %}
          {% for d in device %}
        <ul class="theplan">
            <li class="title"><b>Device {{d.id}}</b></li>
            <li><b>Automation</b> Yes</li>
            <li><b>Height Control:</b> Yes</li>
            <li><b>Weight:</b> 55 lbs</li>
            <li><b>Max Weight:</b> 330 lbs</li>
            <li><b>Tilt Degrees:</b> 135</li>
            <li><b>Tilt Degrees:</b> 135</li>
            <li><b>Head Rest:</b> Yes</li>
            <li>
                <!-- <a id="{{d.id}}" value="{{d.serial_id}}" onclick="myFunction(this)" type="Submit" class="btn btn-default" >Register</a></li> -->
                <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1{{d.id}}">Register</a> -->

  <!-- Modal Structure 
  
          </ul>
          <div id="modal1{{d.id}}" class="modal">
    <div class="modal-content">
      <h4>Enter Device Name</h4>
      <p><input type="text" name="name" id="name{{d.id}}" required>
                <a id="{{d.id}}" value="{{d.serial_id}}" onclick="myFunction(this)" type="Submit" class="btn btn-default" >Register</a>
      </p>
    </div>
  </div>
          {% endfor %}
        {% endif %}
      </div>        

    </div>
  </div> -- -->
  <h5 align="center">Share your valuable problem with us.</h5>
  <div class="row">
  <div class="col s6"></div>
  <div>
  <div class="row">
    <div class="col s6"></div>
    <div class="col s3"></div>
    <form class="col s6" style="background-color: white;">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="contact" type="text" class="validate">
          <label for="contact">Contact Number</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="desc" type="text" class="validate">
          <label for="Problems">Problems</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
       </button>

    </form>
  </div>
  <div class="col s6"></div>
</div>
  </div>
  {% endblock%}
<!-- end of buy now -->
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script>
    $(document).ready(function(){
      $('.tooltipped').tooltip();
      $('.collapsible').collapsible();
    });
  </script>
  <script type="text/javascript">
    function myFunction(el){
        var i=$(el).attr("id"); 
        var id = $(el).attr("value");
        var name= $("#name"+i).val();
        if(name=='')
        {
          M.toast({html: "Device name is required",outDuration:10,timeOut: 0,extendedTimeOut: 0}); 
          return;
        }
           $.ajax({
                 type:"POST",
                 url:"/appprofile/device_register/",
                 data: {
                        'device_id':id,
                        'name':name,
                        'csrfmiddlewaretoken':"{{csrf_token}}",
                        },
                    success: function(data){
                        console.log(data);
                        M.toast({html: data.msg,outDuration:10,timeOut: 0,extendedTimeOut: 0});
                        
                    },
                    fail: function(){
                        
                    }
            });
    }

    function addschedule(el){
        var id = $(el).attr("value");
        var start,end,day;
        start=$("#id_start" + id).val();
        end=$("#id_end" + id).val();
        day=$("#id_day"+id).val();
        console.log(start);
        console.log(end);
        console.log(day);
            $.ajax({
                 type:"POST",
                 url:"{% url 'appprofile:addschedule' %}",
                 data: {
                        'r_id':id,
                        'start':start,
                        'end':end,
                        'day':day,  
                        'csrfmiddlewaretoken':"{{csrf_token}}",
                        },
                    success: function(data){
                        console.log(data);
                        M.toast({html: data.msg,outDuration:10});
                        
                    },
                    fail: function(){
                        
                    }
            });
    }

    function deleted(){
        M.toast({html: "Schedule deleted.",timeOut: 1000,
    extendedTimeOut: 0});
    }

$(document).ready(function(){
  $('select').formSelect();
    $('.timepicker').timepicker({
      showInputs: false
  });
});

 $(document).ready(function(){
    $('.modal').modal();
  });


  </script>
  </body>
</html>
