<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Dashboard</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style>
    .card{
      padding:1em;
    }
  </style>
</head>
<body>

<div class="navbar-fixed">
    <nav class="transparent z-depth-2" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo blue-text" href="{% url 'index' %}">iFill</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#" class="tooltipped" data-tooltip="Buy Now"><i class="material-icons blue-text">shopping_cart</i></a></li>
          <li><a href="{% url 'appprofile:profile' %}" class="tooltipped" data-tooltip="Dashboard"><i class="material-icons blue-text">account_box</i></a></li>
          <li><a href="#" class="tooltipped" data-tooltip="Log Out"><i class="material-icons blue-text">power_settings_new</i></a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#"><i class="material-icons blue-text">shopping_cart</i>Buy Now</a></li>
          <li><a href="{% url 'appprofile:profile' %}"><i class="material-icons blue-text">account_box</i>Dashboard</a></li>  
          <li><a href="{% url 'account_logout' %}"><i class="material-icons blue-text">power_settings_new</i>Logout</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
 {% block body%}
  {% endblock %}
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script>
    $(document).ready(function(){
      $('.tooltipped').tooltip();
      $('.collapsible').collapsible();
    });
  </script>
</body>
</html>