<!DOCTYPE html>
<html>

<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="/static/images/ifill.png">
  <title>iFill - Automate the boring</title>
    <link rel="stylesheet" type="text/css" href="/static/css/meter.css">
    <!-- Font Awesome -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.8/css/mdb.min.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.8/js/mdb.min.js"></script>
</head>
{% load widget_tweaks %}
<body>
    <!-- Sidenav -->
        
    <!-- Sidenav -->
<a href="{% url 'account_logout' %}">Logout</a> 
<a href="{% url 'appprofile:schedule' %}">Schedule</a> 

<h3>Registered Devices</h3>
<table class="table"> 
    <thead>
      <tr>
          <th>Device ID</th>
          <!-- <th>Register</th> -->
          <th>Schedule</th>
          <th>Device Price</th>
      </tr>
    </thead>

    <tbody>
    {% for r in registered %}
        <tr>
            <td>{{r.device.serial_id }}</td>
            <td>
                <!-- <a class="waves-effect waves-light btn modal-trigger" data-target="{{r.id}}"  ><i class="material-icons">add</i></a> -->
                <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm{{r.id}}">Add Schedule</a>
            </td>
            <td>$0.87</td>
        </tr>
            <!-- Modal Structure -->
            <div class="modal fade" id="modalLoginForm{{r.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Add      Schedule</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                {% for field in form %}
                {% if field.label == 'Start' %}
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        {{field.label}}
                        <input type="time" id="id_start{{r.id}}" class="form-control validate">
                    </div>
                    {% endif %}
                    {% if field.label == 'End' %}
                    <div class="md-form mb-5">
                        {{field.label}}
                        <input type="time" id="id_end{{r.id}}" class="form-control validate">
                    </div>
                    {% endif %}
                    {% if field.label == 'Day' %}
                    <div class="md-form mb-4">
                        {{field.label}}
                        <select name="day" class="form-control" id="id_day{{r.id}}">
                          <option value="0" selected>Sunday</option>
                          <option value="1">Monday</option>
                          <option value="2">Tuesday</option>
                          <option value="3">Wednesday</option>
                          <option value="4">Thursday</option>
                          <option value="5">Friday</option>
                          <option value="6">Saturday</option>
                        </select>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-default" onclick="addschedule(this)" id="{{r.device.serial_id}}" value="{{r.id}}">Add</button>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    </tbody>
</table>

<h3>More Devices </h3>
<table class="table"> 
    <thead>
          <tr>
              <th>Device ID</th>
              <th>Register</th>
              <th>Device Price</th>
              <!-- <th>Status</th> -->
          </tr>
        </thead>

        <tbody>
{% for d in device %}
          <tr>
            <td>{{d.serial_id }}</td>
            <td>
                <input type="text" name="name" id="name{{d.id}}">
                <a class="btn btn-default" onclick="myFunction(this)" id="{{d.id}}" value="{{d.serial_id}}"><i class="material-icons">add</i></a>   
            </td>
            <td>$0.87</td>
            <!-- <td>No</td> -->
          </tr>
{% endfor %}
        </tbody>
</table>
            

<!-- Tank -->
<div id="wrapper">
    <svg id="meter">
        <circle id="outline_curves" class="circle outline" 
        cx="50%" cy="50%"></circle>
         
        <circle id="low" class="circle range" cx="50%" cy="50%"
        stroke="#FDE47F"></circle>
         
        <circle id="avg" class="circle range" cx="50%" cy="50%"
        stroke="#7CCCE5"></circle>
         
        <circle id="high" class="circle range" cx="50%" cy="50%"
        stroke="#E04644"></circle>
         
        <circle id="mask" class="circle" cx="50%" cy="50%" >
        </circle>
         
        <circle id="outline_ends" class="circle outline"
        cx="50%" cy="50%"></circle>
    </svg>
    <img id="meter_needle" src="gauge-needle.svg" alt="">
    <input id="slider" type="range" min="0" max="100" value="0" />
    <label id="lbl" id="value" for="">0</label>
</div>
    <!-- Tank -->
{% load staticfiles %}

<script type="text/javascript">
    function myFunction(el){
        var i=$(el).attr("id");    
        var id = $(el).attr("value");
        var name= $("#name"+i).val();
        console.log(name);
           $.ajax({
                 type:"POST",
                 url:"/appprofile/device_register/",
                 data: {
                        'device_id':id,
                        'name':name,
                        'csrfmiddlewaretoken':"{{csrf_token}}",
                        },
                    success: function(data){
                        console.log(data);
                        alert(data.msg);
                        
                    },
                    fail: function(){
                        
                    }
            });
    }

    function addschedule(el){
        var id = $(el).attr("value");
        var start,end,day;
        start=$("#id_start" + id).val();
        end=$("#id_end" + id).val();
        day=$("#id_day"+id).val();
        console.log(start);
        console.log(end);
        console.log(day);
            $.ajax({
                 type:"POST",
                 url:"{% url 'appprofile:addschedule' %}",
                 data: {
                        'r_id':id,
                        'start':start,
                        'end':end,
                        'day':day,  
                        'csrfmiddlewaretoken':"{{csrf_token}}",
                        },
                    success: function(data){
                        console.log(data);
                        alert(data.msg);
                        
                    },
                    fail: function(){
                        
                    }
            });
    }
</script>
<script type="text/javascript" src="/static/js/meter.js"></script>
</body>
</html>