{% extends 'appprofile/navbar.html' %}
{% block body %}	
{% load staticfiles %}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="container">
          <br><br>
          <h1 class="header center teal-text text-lighten-2">Customize Motor</h1>
          <div class="row center">
            <h5 class="header col s12 light">Schedule your motor for a specific time or select automatic mode</h5>
          </div>
          <br><br>
  
          <section class="container section" id="dash">
            <div class="row white-text ">
                <div class="col s12 l12"><br><br>
                  <div class="card blue darken-1 center vertical">
                    <div class="card-content">
                      <div class="btn-floating white pulse prefix"></div>
                      <h5 class="center">Motor status</h5>
                      <div class="switch">
                          <label class="white-text">
                              Off<a href="" style="color: white;">{{off}}</a>
                              {% if on %}
                                {% if on == 1%}                      
                                <input type="checkbox" id="toggleon" value="{{schedule.id}}" checked>
                                <span class="lever"></span>
                                {% endif %}
                              {% else %}
                                <input type="checkbox" id="toggleoff" value="{{schedule.id}}" unchecked>
                                <span class="lever"></span>
                              {% endif %}
                              On
                          </label>
                      </div><br>
                  </div>
                </div>
              </div>
            </div>
            <!-- Motor status -->
        
            <div class="row white-text">
                    <div class="col s6 l12">
                        <div class="card blue darken-1 center vertical">
                          <div class="card-content">
                          		<h5>Motor Scheduled At:</h5>
                          		{% if schedule %}
	                          		<h4>{{schedule.start}}</h4>
	                          		<h4>{{schedule.end}}</h4> {{schedule.device.name}}
                                <h4>Percentage Filled :<br> {{schedule.device.percentage}} %</h4> 
                              {% endif %}
                        </div>
                    </div>
                </div>
  
        </div>

        <br><br>

      </div>
    </div>
    
    <div class="parallax"><img src="{% static 'img/Bubble-7.5s-359x200px.svg' %}" alt="Unsplashed background img 1"></div>
  </div>
 <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
    $(document).ready(function(){
        $('.timepicker').timepicker();
    });

    $('#toggleon').click(function(){
        var id=$("#toggleon").val();
           $.ajax({
               url:'/appprofile/switch_motor' ,
               type: "GET",
               data: {
                    's_id':id,
                    'csrfmiddlewaretoken':"{{csrf_token}}",
               },
               success: function(data) {
                   // M.toast({html: data.msg,outDuration:10,timeOut: 0,extendedTimeOut: 0});
                   if(data.on == 1){
                   $("#toggle").checked=true;
                      console.log(data.on);}
                   else{
                    $("#toggle").checked=false;
                   }
                   console.log(data.msg);
               },
               error: function(data) {
                // M.toast({html: data.msg,outDuration:10,timeOut: 0,extendedTimeOut: 0});
                console.log(data.msg);
            }
          });
    });

    $('#toggleoff').click(function(){
        var id=$("#toggleoff").val();
           $.ajax({
               url:'/appprofile/switch_motor' ,
               type: "GET",
               data: {
                    's_id':id,
                    'csrfmiddlewaretoken':"{{csrf_token}}",
               },
               success: function(data) {
                   // M.toast({html: data.msg,outDuration:10,timeOut: 0,extendedTimeOut: 0});
                   if(data.on == 1){
                   $("#toggle").checked=true;
                      console.log(data.on);}
                   else{
                    $("#toggle").checked=false;
                   }
                   console.log(data.msg);
               },
               error: function(data) {
                // M.toast({html: data.msg,outDuration:10,timeOut: 0,extendedTimeOut: 0});
                console.log(data.msg);
            }
          });
    });

</script> 
<script type="text/javascript">
  setTimeout(function(){
      window.location.href = window.location.href;
  },5000)
</script>
{% endblock %}