<!DOCTYPE html>
<html>

<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="/static/images/ifill.png">
  <title>iFill - Automate the boring</title>
  <meta name="description" content="iFill: Automate the your water motor system">
  <meta name="keywords" content="iFill: Automate the your water motor system">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'css/aquamarine.css' %}">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="/static/js/navbar-ontop.js"></script>
  <!-- Script: Animated entrance -->
  <script src="/static/js/animate-in.js"></script>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container"> <a class="navbar-brand" href="#">iFill<br></a> <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mx-2"> <a class="nav-link" href="#features">Features</a> </li>
          {% if not user.is_authenticated %}
          <li class="nav-item mx-2"> <a class="nav-link" href="{% url 'account_login' %}">Login</a> </li>
          <li class="nav-item mx-2"> <a class="nav-link" href="{% url 'account_signup' %}">Register<br></a> </li>
          {% else %}
          <li class="nav-item mx-2"> <a class="nav-link" href="{% url 'appprofile:profile' %}">Dashboard<br></a> </li>
          {% endif %}
        </ul> <a class="btn navbar-btn text-white mx-2 btn-primary" href="#download">Get iFill</a><a class="btn navbar-btn text-white mx-2 btn-primary" href="#download">Download</a>
      </div>
    </div>
  </nav>
  <!-- Cover -->
  <div class="pt-5 bg-primary">
    <div class="container mt-5 pt-5">
      <div class="row">
        <div class="col-md-6 my-5 text-lg-left text-center align-self-center">
          <h1 class="display-1">iFill</h1>
          <p class="lead">Manage your motor system with an ease</p>
          <div class="row mt-5">
            <div class="col-6 col-lg-5"> <a href="#">
                <img class="center-block img-fluid d-block shadowed" src="/static/images/download_android.png"> </a> </div>
            <div class="col-6 col-lg-5"> <a href="#">
                <img class="center-block img-fluid d-block shadowed" src="/static/images/download_ios.png"> </a> </div>
          </div>
        </div>
        <div class="col-md-6"> <img class="img-fluid d-block mx-auto" src="/static/images/homecropped.png" width="400"> </div>
      </div>
    </div>
  </div>
  <!-- Article style section -->
  <div class="py-5">
    <div class="container">
      <div class="row py-5">
        <div class="col-md-5 order-2 order-md-1"> <img class="img-fluid d-block my-3 mx-auto animate-in-left" src="/static/images/splashapp.png" width="200"> </div>
        <div class="col-md-7 align-self-center order-1 order-md-2 my-3 text-md-left text-center">
          <h2>Easy, yet powerful</h2>
          <p class="my-4 text-muted">Switching on or off water motor is a very tedious task. A person needs to be present at that specific time to switch on the pumps. If someone misses it he/she will have to wait for the next supply. So we have the application which is simple, easy to use, convenient, handy, scalable and efficient.</p> <a class="btn btn-outline-primary" href="#features">Learn more</a>
        </div>
      </div>
      <div class="row pt-5">
        <div class="align-self-center col-lg-7 text-md-left text-center">
          <h2>Works everywhere</h2>
          <p class="my-4 text-muted">The solution developed consists of a web panel, cross-platform app (Android + iOS) and an IoT device. The web panel will be used to monitor all the active devices issued to any user. The user will be identified by his authentication credentials. A registered user may track and monitor the devices owned by him in mobile app as well as web panel. The app will be used to create a schedule of the water supply or it can also be entered from the admin panel. Later on, it may also be integrated with the Municipal Corporation for automatic synchronization. The motor may be switched off by the app as well. The status of the motor will also be viewed from the app. </p> <a class="btn btn-primary shadowed" href="#download">Download</a>
        </div>
        <div class="align-self-center mt-5 col-lg-5"> <img class="img-fluid d-block animate-in-right" src="/static/images/bg.png"> </div>
      </div>
      <hr class="mt-0">
    </div>
  </div>
  <!-- Features -->
  <div class="py-5" id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="pb-4">Features from the future</h2>
        </div>
      </div>
      <div class="row">
        <div class="align-self-center text-md-right text-center col-lg-4 col-md-6">
          <h4 class="text-primary">Compatibility</h4>
          <p class="mb-5">The Android app can be easily used by the users having an android version greater than or equivalent to 4.3 (Jelly Bean). And the web app will be responsive with a clean and simple UI/UX.&nbsp;</p>
          <h4 class="text-primary">Centralized Server</h4>
          <p class="mb-5">The app and the device will be connected to the centralized server. The communication will be secured by OAuth protocol.</p>
          <h4 class="text-primary">Connect</h4>
          <p class="mb-5">In-app chat panel 24/7 active. <br>The support you need, right there.</p>
        </div>
        <div class="my-3 col-md-4 d-none d-lg-block"> <img class="img-fluid d-block mx-auto animate-in-down" src="/static/images/homefull.png" width="300"> </div>
        <div class="align-self-center text-md-left text-center col-lg-4 col-md-6">
          <h4 class="text-primary"> Scalable</h4>
          <p class="mb-5">The app would be designed keeping in mind the scalability of the application.</p>
          <h4 class="text-primary">Easy to Use</h4>
          <p class="mb-5">The user may monitor the devices attached to the water tank. The user will have an option to enter the water supply schedule, email notifications option and push notifications.</p>
          <h4 class="text-primary">Push Notifications</h4>
          <p class="mb-5">The push notifications to the user would be sent in the app as well as web application.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Features -->
  <!-- Carousel reviews -->
  <!-- Call to action -->
  <div class="bg-primary" id="download">
    <div class="container">
      <div class="row py-3">
        <div class="col-md-6"> <img class="img-fluid d-block my-4 animate-in-left" src="/static/images/pi.png"> </div>
        <div class="col-md-6 align-self-center text-center text-md-left">
          <h1><b>Get iFill</b></h1>
          <p class="lead text-dark">Get iFill for your home/office (Coming Soon)</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="pt-5 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p class="lead">Sign up to our newsletter for the latest news</p>
          <form class="form-inline">
            <div class="form-group"> <input type="email" class="form-control my-1 mr-1" placeholder="Your e-mail here"> </div> <button type="submit" class="btn my-1 btn-outline-primary">Subscribe</button>
          </form>
        </div>
        <div class="col-4 col-md-1 align-self-center my-3"> <a href="https://www.facebook.com" target="blank"><i class="fa fa-fw fa-facebook fa-3x text-white"></i></a> </div>
        <div class="col-4 col-md-1 align-self-center my-3"> <a href="https://twitter.com" target="blank"><i class="fa fa-fw fa-twitter fa-3x text-white"></i></a> </div>
        <div class="col-4 col-md-1 align-self-center my-3"> <a href="https://www.instagram.com" target="blank"><i class="fa fa-fw fa-instagram fa-3x text-white"></i></a> </div>
      </div>
      <div class="row">
        <div class="col-md-12 my-3 text-center">
          <p class="text-muted">© Copyright 2018 iFill&nbsp;- All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- JavaScript dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="/static/js/smooth-scroll.js"></script>
</body>

</html>